body {
	height: 100vh;
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 32px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}


#add-book-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 400px;
	width: 400px;
	
}
.form-container {
	display: none;
	position: fixed;
	top: 40%;
	left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(254, 183, 51);
	
}

.btn-primary {
	display: flex;
	justify-self: center;
	margin-top: 50px;
	width: 500px;
}

table,
th,
td { 
	border: 1px solid red;
	border-collapse: collapse;
	padding: 10px;}